                    /* VARIABLES */

:root {
    --tamfuen:14px;
    --bgcolsqua: #fcfcfc
}

                    /* GENERAL */

* {
    font-size: var(--tamfuen);
    padding: 0;
    margin: 0;
    max-block-size: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    
}

.container { 
    padding-top: 75px;
}

select {
    margin-top: 24px;
    border-radius: 0.1px;
    border: none;
    border-bottom: 1px solid black;
}

select:hover {
    cursor: pointer;
}

label {
    font-size: var(--tamfuen);
    margin-top: 16px;
    padding-left: 5px;
    grid-column: 2
}

input {
    font-size: var(--tamfuen);
    padding-left: 5px;
    border: none;
    border-bottom: 1px solid black;
}

legend {
    font-size: var(--tamfuen);
    text-align: center;
    font-weight: bold;
    padding-bottom: 0.15rem;
}

                                    /* HEADER, NAV Y FOOTER*/

header {
    width: 100%;
    position: fixed;
    font-size: var(--tamfuen);
    background-color: #222;
    padding: 0;
    margin: 0 0 2rem 0;
    height: 5em;
    color: white;
    display: flex;
    justify-content: center;
}

.logoheader{
    width: 20%;
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: 10px;
}

nav a:hover {
    color: cornflowerblue;
    font-weight: bold;
}

footer {
    font-size: var(--tamfuen);
    background-color: #222;
    padding: 2.8rem;
    color: white;
}

footer section {
    margin-top: 25px;
}

footer a {  
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div a { 
        color: white;
        width: 200px;
        text-decoration: none;
        transition: color 0.3s ease;
}

footer a:hover {
    color: cornflowerblue;
    font-weight: bold;
}

.footer-navbar {
    width: 80%;
    display: flex;
    align-items: center;
}

.header-navbar {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    color: white;
    font-style: normal;
}

                                    /* TEXTOS */

h1 { 
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 2rem;
}

p {
    font-size: var(--tamfuen);
    margin: 0 0 10px 0;
    padding-left: 12px;
}

h2 { 
    margin-top: 15px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 2rem;
}

                                    /* SECCION: PRESENTACION */
                                    /* SECCION: NOSOTROS */

                                    /* SECCION: COMPUTADORAS */

.equipos {
    display: grid;
    grid-template-columns: 300px 200px;
    font-size: var(--tamfuen);
    margin: 0 25px 1rem 25px;  
    width: 550px;
    height: 250px;
    padding-top: 0;
    padding-bottom: 35px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: var(--bgcolsqua);
}

.grid-equipos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.opventa {
    margin-top: 20px;
    margin-bottom: 10px;
}

ul.opventa {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 12px;
}

.opventa li {
    font-size: var(--Lifuen);
    display: grid;
    grid-template-columns: auto;
    grid-column-end: auto;
}

                                    /* SECCION: UPGRADES */

.grid-upgrade{
    display: grid;
    grid-template-rows: repeat(4, 105px);
    grid-template-columns: auto 100vh 100vh;
    width: 250px;
    border: none;
    row-gap: 8px;
    margin-left: 12px;
}

#btn-micro, #btn-ram, #btn-storage, #btn-video{
    grid-column: 1;
    border: none;
    border-radius: 24px;
    width: 230px;
    font-weight: bold;
}

#btn-micro:hover, #btn-ram:hover, #btn-storage:hover, #btn-video:hover {
    background-color:aliceblue;
}

#flex-micros, #flex-ram, #flex-storage, #flex-video {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 36px; /* Reemplazar esto por algo que centre las cosas */
}

#micros, #ram, #storage, #video {
    padding-left: 36px;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}

.Ryzen3, .Ryzen5, .Ryzen7, .Ryzen9 {
    width: 205px;
    height: 205px;
    border: 1px solid #222;
    text-align: center;
    margin-top: 12px;
}

.Ryzen3 img, .Ryzen5 img, .Ryzen7 img, .Ryzen9 img {
    padding: 12px 0 12px 0;
    width: 125px;
    height: 125px;
}

.Ryzen3:hover, .Ryzen5:hover, .Ryzen7:hover, .Ryzen9:hover {
    background-color:aliceblue;
}

.RAM16, .RAM32, .RAM64, .RAM128 {
    width: 205px;
    height: 205px;
    border: 1px solid #222;
    text-align: center;
    margin-top: 12px;
}

.RAM16 img, .RAM32 img, .RAM64 img, .RAM128 img{
    padding: 12px 0 12px 0;
    width: 125px;
    height: 125px;
}

.RAM16:hover, .RAM32:hover, .RAM64:hover, .RAM128:hover {
    background-color:aliceblue;
}

.hdd128, .hhd256, .hhd512, .hhd1t {
    width: 205px;
    height: 205px;
    border: 1px solid #222;
    text-align: center;
    margin-top: 12px;
}

.hdd128 img, .hhd256 img, .hhd512 img, .hhd1t img{
    padding: 12px 0 12px 0;
    width: 125px;
    height: 125px;
}

.hdd128:hover, .hhd256:hover, .hhd512:hover, .hhd1t:hover {
    background-color:aliceblue;
}

.NVidia_xx1, .NVidia_xx2, .NVidia_xx3, .NVidia_xx4 {
    width: 205px;
    height: 205px;
    border: 1px solid #222;
    text-align: center;
    margin-top: 12px;
}

.NVidia_xx1 img, .NVidia_xx2 img, .NVidia_xx3 img, .NVidia_xx4 img{
    padding: 12px 0 12px 0;
    width: 125px;
    height: 125px;
}

.NVidia_xx1:hover, .NVidia_xx2:hover, .NVidia_xx3:hover, .NVidia_xx4:hover {
    background-color:aliceblue;
}

                                    /* SECCION: ACCESORIOS */

.grid-accesorios{
    display: grid;
    grid-template-rows: auto auto;
    width: 250px;
    border: none;
    row-gap: 8px;
    margin-left: 56px; /* Reemplazar esto por algo que centre las cosas */
}

.flex-one, .flex-two, .flex-three, .flex-four {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    padding-left: 42px;
} 

.Tecladogamer, .Micrófono, .Auriculares, .Mouse {
    grid-row: 1;
    width: 250px;
    height: 250px;
    border: 1px solid #222;
    text-align: center;
    margin-bottom: 12px;
}

.Monitor, .Gabinete, .Soporte, .Cable {
    grid-row: 2;
    width: 250px;
    height: 250px;
    border: 1px solid #222;
    text-align: center;
}

.Tecladogamer:hover, .Micrófono:hover, .Auriculares:hover, .Mouse:hover, .Monitor:hover, .Gabinete:hover, .Soporte:hover, .Cable:hover {
    background-color:aliceblue;
}

.Tecladogamer img, .Micrófono img, .Auriculares img, .Mouse img, .Monitor img, .Gabinete img, .Soporte img, .Cable img {
    padding: 24px 0 0 0;
    width: 125px;
    height: 125px;
}

                                    /* FORMULARIO CONTACTO */

.formulario_contacto {
    display: grid;
    grid-template-columns: auto auto;
    font-size: var(--Lifuen);
    margin-left: 50px;
    width: 500px;
}

#consulta {
    font-size: var(--tamfuen);
    margin-top: 10px;
    padding-left: 5px;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.cons {
    margin-bottom: 10px;
    width: 550px;
}

textarea {
    background-color: var(--bgcolsqua);
    font-size: var(--tamfuen);
    padding: 16px 0 0 0;   
    text-align: left;
    border: none;
    width: 500px;
    height: 150px;
    border: 1px solid black;
    font-size: var(--tamfuen);
    margin-top: 25px;
    margin-left: 15px;
    padding-left: 5px;
    border-radius: 12px;
}

.cons {
    margin-top: 8px;
}

#mensaje {
    margin-top: 16px;
}

#horario, #contacto, #tipoconsulta {
    columns: 1;
    margin-top: 8px;
}

#detalle {
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: auto;
    columns: 2;
    border: 1px solid grey;
    background-color: var(--bgcolsqua);
    width: 500px;
    height: 425px;
    margin-left: 48px;
}

                                    /* BOTONES */

.btns {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0 16px 0;
    font-size: var(--tamfuen);
    border: none;
    background-color:rgb(100, 149, 237);
    border-radius: 12px;
    color: white;
    width: 150px;
    height: 50px;
}

.btn:hover {
    cursor: pointer;
    font-weight: bold;
    width: 155px;
    height: 55px;
    background-color: rgb(72, 128, 233)
}

#botonborrar, #botonenviar {
    margin: 0 16px 16px 0;
}