
  body {
    width: 100vw;
    margin: 0 auto;
    padding: 0 1.25rem;
    background-color: #0F4C75;
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /*oculto scroll bar */
    scrollbar-width: 0px;
  }
    /* para ocultar scroll bar en todos los browsers uso -webkit- y -ms-*/
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .fotocarousel{
    height: 100%;
    width: 100%;
    object-fit: contain; /*la foto se ajusta al contenedor*/
  }

  .carousel {
    position: relative;
    /* height: 600px; */
    padding-top: 75%;
    background-color: #0F4C75;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; /*completa el movimiento de la foto, no la deja a medio camino*/
  }
  
  .carousel__diapo {
    position: relative;
    flex: 0 0 100%; /*shorthand flex-growth flex-shrink flex-basis, los elementos flex en un mismo contenedor no aumentan/reducen de tamaño en relacion a otros, y cada uno ocupa el 100% del contenedor*/
    width: 100%;
    background-color: transparent;
  }
  
  .carousel__diapo:before {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .carousel__visor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center; /*la foto se centra en la ventana al hacer scroll, no queda descentrada aun cuando sea mas chica que el contenedor*/
  }
  
  .textosobrefoto{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50vw;
    height: 20vh;
    z-index: 1;
    color: #BBE1FA;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    text-align: center;
    transform: rotate(-15deg);
  }
  @media (hover: hover){
    .carousel__visor{
      animation-name: desplazar, enfocar;
      animation-timing-function: ease-in-out;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }
  
    .carousel__diapo:last-child .carousel__visor {
      animation-name: recomenzar, enfocar;
      animation-timing-function: ease-in-out;
      animation-duration: 3s;
    }
  }
  /* @media (prefers-reduced-motion: reduce) se usa para anular animaciones cuando el browser esta seteado para evitar esas situaciones, personas con discapacidades que no soportan el movimiento rapido*/
  /* @media (prefers-reduced-motion: reduce) {
    .carousel__visor {
      animation-name: none;
    }
  } */
  
  .carousel:hover .carousel__visor,
  .carousel:focus-within .carousel__visor {
    animation-name: none;
  }
  
  .carousel__botonera {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__botonera-list,
  .carousel__botonera-item {
    display: inline-block;
  }
  .carousel__botonera-item{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .carousel__botonera-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #0F4C75;
    background-clip: content-box;
    border: 0.25rem solid #BBE1FA;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__anterior,
  .carousel__posterior {
    position: absolute;
    top: 0;
    margin-top: 33%;
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
  }
  
  .carousel::before,
  .carousel__anterior {
    left: -1rem;
  }
  
  .carousel::after,
  .carousel__posterior {
    right: -1rem;
  }
  
  .carousel::before{
    content: '<';
  }
  .carousel::after{
    content: '>';
  }
  .carousel::before,
  .carousel::after {
    z-index: 2;
    background-color: transparent;
    color: #BBE1FA;
    font-size: 3rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
  }
  
  @media screen and (max-width: 800px) {
    .textosobrefoto{
        font-size: 2rem;
    }
  }
  @media screen and (max-width: 549px) {
    .carousel__botonera{
        top: 17.5rem;
    }
    .carousel::before, .carousel::after {
        font-size: 2rem;
        margin-top: 25%;
    }
  }
  @media screen and (max-width: 450px) {
    .textosobrefoto{
        font-size: 1rem;
    }
  }
  @media screen and (max-width: 400px) {
    .carousel__botonera{
        top: 15rem;
    }
  }
  
  @media screen and (max-width: 350px) {
    .carousel__botonera{
        top: 12.5rem;
    }
  }

/* Animacion para transicion a la siguiente foto de forma mas gradual, "empuja el borde izq" */
@keyframes desplazar {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}
/* Animacion para volver a la primera foto, hace un scroll total */
@keyframes recomenzar {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}
/* Despues de ejecutar las otras animaciones, "recentra" la foto para poder desplazar nuevamente */
@keyframes enfocar {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}
  